@charset "UTF-8";
/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  /* по умолчанию */
}

body {
  line-height: 1;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #191919;
}

body * {
  color: #fff;
}

input {
  font-family: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1140px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 10px;
  }
}

/* ------------GLOBAL------------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.titles::after {
  content: '';
  width: 80px;
  height: 2px;
  background-color: #34c759;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-70%, 0);
      -ms-transform: translate(-70%, 0);
          transform: translate(-70%, 0);
}

@media (max-width: 569.98px) {
  .titles::after {
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.titles__title {
  font-weight: 900;
  font-size: 100px;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #303030;
  white-space: nowrap;
}

@media (max-width: 767.98px) {
  .titles__title {
    font-size: 80px;
  }
}

.titles__label {
  font-size: 36px;
  line-height: 117%;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #d9d9d9;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  text-align: center;
}

@media (max-width: 767.98px) {
  .titles__label {
    font-size: 20px;
  }
}

.text {
  font-size: 13px;
  line-height: 138%;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

.text_gray {
  color: #85878c;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.type {
  font-weight: 900;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding: 5px 16px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* ------------HEADER------------------- */
.header {
  z-index: 3;
  padding: 33px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 767.98px) {
  .header {
    padding: 20px 0;
    position: fixed;
    background-color: #191919;
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.header__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 240px;
          flex: 0 1 240px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 100%;
}

.header__navigation {
  padding: 0 15px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  min-height: 100%;
  padding: 0 11px 0 0;
  margin: 0 -22.5px;
}

@media (max-width: 767.98px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    top: 0;
    right: -100%;
    height: 100%;
    row-gap: 20px;
    padding: 80px 30px 30px;
    background-color: #191919;
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    -webkit-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    width: 50%;
    overflow: auto;
    margin: 0;
  }
}

@media (max-width: 409.98px) {
  .header__list {
    width: 100%;
  }
}

.header__item {
  padding: 0 22.5px;
}

@media (max-width: 767.98px) {
  .header__item {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 22.5px 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    text-align: center;
  }
}

.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 117%;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.header__link:hover {
  color: #34c759;
}

@media (max-width: 767.98px) {
  .header__link {
    font-size: 20px;
  }
}

.header__menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .header__menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.header__lines {
  display: none;
  width: 100%;
  height: 2px;
  background-color: #34c759;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  position: absolute;
}

@media (max-width: 767.98px) {
  .header__lines {
    display: inline;
  }
}

.header__lines::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #34c759;
  position: absolute;
  top: -15px;
  left: 0;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.header__lines::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #34c759;
  position: absolute;
  top: 15px;
  left: 0;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.header__checkbox {
  display: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 767.98px) {
  .header__checkbox {
    display: block;
  }
}

.header__checkbox:checked ~ .header__menu > .header__lines {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__checkbox:checked ~ .header__menu > .header__lines::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__checkbox:checked ~ .header__menu > .header__lines::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.header__checkbox:checked ~ .header__list {
  right: 0;
}

/* ----------HEADING------------------- */
.heading {
  padding: 171px 0 161px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0.0001)), to(#1A1A1A)), -webkit-gradient(linear, left bottom, left top, from(rgba(33, 33, 33, 0.5)), to(rgba(33, 33, 33, 0.5))), url("../img/heading/bg.jpg") center/cover no-repeat;
  background: -webkit-linear-gradient(top, rgba(26, 26, 26, 0.0001) 0%, #1A1A1A 100%), -webkit-linear-gradient(bottom, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url("../img/heading/bg.jpg") center/cover no-repeat;
  background: -o-linear-gradient(top, rgba(26, 26, 26, 0.0001) 0%, #1A1A1A 100%), -o-linear-gradient(bottom, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url("../img/heading/bg.jpg") center/cover no-repeat;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0.0001) 0%, #1A1A1A 100%), linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url("../img/heading/bg.jpg") center/cover no-repeat;
}

@media (max-width: 1140px) {
  .heading {
    padding: 141px 0 101px;
  }
}

@media (max-width: 991.98px) {
  .heading {
    padding: 141px 0 61px;
  }
}

@media (max-width: 767.98px) {
  .heading {
    padding: 141px 0 31px;
  }
}

.heading__container {
  padding: 0 110px;
}

@media (max-width: 767.98px) {
  .heading__container {
    padding: 0 10px;
  }
}

.heading__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading__content:not(:last-child) {
  margin-bottom: 70px;
}

@media (max-width: 679.98px) {
  .heading__content:not(:last-child) {
    margin-bottom: 50px;
  }
}

.heading__title {
  font-size: 72px;
  line-height: 117%;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.heading__title:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 991.98px) {
  .heading__title {
    font-size: 60px;
  }
}

@media (max-width: 679.98px) {
  .heading__title {
    font-size: 50px;
  }
}

@media (max-width: 609.98px) {
  .heading__title {
    font-size: 40px;
  }
}

@media (max-width: 509.98px) {
  .heading__title {
    font-size: 30px;
  }
}

.heading__text {
  font-weight: 700;
}

.heading__subtitle {
  line-height: 162%;
  letter-spacing: -0.2px;
  opacity: 0.7;
  max-width: 580px;
}

.heading__subtitle:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 609.98px) {
  .heading__subtitle {
    font-size: 14px;
  }
}

.heading__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.2em;
  color: #1a1a1a;
  padding: 25px 57px;
  border-radius: 43px;
  background-color: #34c759;
  border: 2px solid transparent;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.heading__button:hover {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}

.heading__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 70px;
}

@media (max-width: 767.98px) {
  .heading__items {
    margin: 0;
  }
}

@media (max-width: 679.98px) {
  .heading__items {
    row-gap: 50px;
  }
}

@media (max-width: 509.98px) {
  .heading__items {
    row-gap: 30px;
  }
}

.heading__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 991.98px) {
  .heading__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 589.98px) {
  .heading__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
  }
}

.item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.item-heading__picture {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
}

.item-heading__picture:not(:last-child) {
  margin-bottom: 16px;
}

.item-heading__icon {
  max-width: 100%;
}

.item-heading__title {
  line-height: 187%;
}

.item-heading__title:not(:last-child) {
  margin-bottom: 6px;
}

.item-heading__text {
  font-size: 14px;
  line-height: 150%;
  opacity: 0.5;
}

/* -----------------WORK------------------ */
.work {
  padding: 61px 0 91px;
}

@media (max-width: 767.98px) {
  .work {
    padding: 61px 0;
  }
}

.work__heading:not(:last-child) {
  margin-bottom: 59px;
}

.work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
}

@media (max-width: 1140px) {
  .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

@media (max-width: 991.98px) {
  .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 569.98px) {
  .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}

.item-work {
  background-color: #252525;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 24px;
  min-height: 206px;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media (max-width: 569.98px) {
  .item-work {
    min-height: 0;
    padding: 14px;
  }
}

.item-work:hover {
  background-color: #34c759;
}

.item-work:hover * {
  color: #191919;
}

.item-work:hover .item-work__title::after {
  background-color: #191919;
}

.item-work__title {
  font-size: 22px;
  line-height: 118%;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  padding-bottom: 17px;
  position: relative;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.item-work__title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 56px;
  height: 2px;
  background-color: #34c759;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

@media (max-width: 569.98px) {
  .item-work__title::after {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.item-work__title:not(:last-child) {
  margin-bottom: 24px;
}

.item-work__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

/* ---------------DISHES-------------- */
.dishes {
  padding: 0 0 91px 0;
}

.dishes__heading:not(:last-child) {
  margin-bottom: 59px;
}

.dishes__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -15px;
}

.dishes__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}

@media (max-width: 991.98px) {
  .dishes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 539.98px) {
  .dishes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.item-dishes {
  background-color: #252525;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-dishes__picture {
  padding: 0 0 74.285% 0;
}

@media (max-width: 539.98px) {
  .item-dishes__picture {
    padding: 0 0 70.285% 0;
  }
}

.item-dishes__link {
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  width: 100%;
  display: inline-block;
}

.item-dishes__share {
  width: 40px;
  height: 40px;
  top: 24px;
  right: 24px;
  position: absolute;
  background: url("../img/dishes/share_icon.svg") center/24px 24px no-repeat rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.item-dishes__share:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 399.98px) {
  .item-dishes__share {
    top: 18px;
    right: 18px;
  }
}

.item-dishes__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px 24px 24px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 689.98px) {
  .item-dishes__content {
    padding: 20px;
  }
}

.item-dishes__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 6px 0 0;
}

.item-dishes__body:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 689.98px) {
  .item-dishes__body:not(:last-child) {
    margin-bottom: 10px;
  }
}

.item-dishes__title {
  font-size: 32px;
  line-height: 94%;
  color: #d9d9d9;
}

.item-dishes__title:hover * {
  color: #34c759;
}

@media (max-width: 689.98px) {
  .item-dishes__title {
    font-size: 25px;
  }
}

.item-dishes__subtitle {
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.15px;
  color: #a4a8b2;
}

.item-dishes__subtitle:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 689.98px) {
  .item-dishes__subtitle:not(:last-child) {
    margin-bottom: 10px;
  }
}

.item-dishes__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -7px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.item-dishes__stars {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 144px;
          flex: 0 0 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0 7px;
  margin: 0 -2.5px;
}

.item-dishes__star {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  height: 20px;
  background: url("../img/dishes/black_star_icon.svg") center/20px 20px no-repeat;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  padding: 0 2.5px;
}

.item-dishes__star:hover {
  background: url("../img/dishes/star_icon.svg") center no-repeat;
}

.item-dishes__star:hover ~ .item-dishes__star {
  background: url("../img/dishes/star_icon.svg") center no-repeat;
}

.item-dishes__number {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 900;
  font-size: 12px;
  line-height: 250%;
  letter-spacing: 1.5px;
  color: #b3b3b3;
  padding: 0 7px;
}

.item-dishes__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  padding: 0 7px;
}

@media (max-width: 1140px) {
  .item-dishes__btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.item-dishes__button {
  display: inline-block;
  font-weight: 900;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  padding: 12.5px 30px;
  border-radius: 30px;
  border: 2px solid #303030;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  width: 100%;
  text-align: center;
}

.item-dishes__button:hover {
  background-color: #34c759;
  border-color: #34c759;
  color: #252525;
}

/* --------------RECIPES--------------- */
.recipes__heading:not(:last-child) {
  margin-bottom: 59px;
}

.recipes__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -15px;
}

@media (max-width: 767.98px) {
  .recipes__blocks {
    row-gap: 15px;
  }
}

.recipes__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

@media (max-width: 991.98px) {
  .recipes__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.recipes__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
  height: 100%;
}

@media (max-width: 767.98px) {
  .recipes__items {
    row-gap: 15px;
  }
}

.recipes__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-recipes {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

@media (max-width: 767.98px) {
  .item-recipes {
    padding: 20px;
  }
}

@media (max-width: 449.98px) {
  .item-recipes {
    text-align: center;
  }
}

.item-recipes:hover {
  background-color: #34c759;
}

.item-recipes:hover * {
  color: #1a1a1a;
}

.item-recipes:hover .item-recipes__text {
  color: #252525;
}

.item-recipes:hover .item-recipes__type {
  color: #fff;
  background-color: #000;
}

.item-recipes:hover .item-recipes__number {
  background: url("../img/recipes/black_eye_icon.svg") left no-repeat;
}

.item-recipes:hover .item-recipes__number_icon {
  background: url("../img/recipes/black_comment_icon.svg") left no-repeat;
}

.item-recipes_background {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/recipes/salad.jpg") center/cover no-repeat;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/recipes/salad.jpg") center/cover no-repeat;
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/recipes/salad.jpg") center/cover no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/recipes/salad.jpg") center/cover no-repeat;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

@media (max-width: 449.98px) {
  .item-recipes_background {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url("../img/recipes/salad.jpg") center/cover no-repeat;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../img/recipes/salad.jpg") center/cover no-repeat;
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../img/recipes/salad.jpg") center/cover no-repeat;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../img/recipes/salad.jpg") center/cover no-repeat;
  }
}

.item-recipes_background:hover .item-recipes__background {
  opacity: 0.7;
}

.item-recipes__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #34c759;
  opacity: 0;
  border-radius: 6px;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.item-recipes__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-recipes__type {
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.item-recipes__label {
  font-size: 12px;
  line-height: 117%;
  color: #b3b3b3;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.item-recipes__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  line-height: 187%;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.item-recipes__text:not(:last-child) {
  margin-bottom: 10px;
}

.item-recipes__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.item-recipes__block:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 27px;
          column-gap: 27px;
}

@media (max-width: 449.98px) {
  .item-recipes__block:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 449.98px) {
  .item-recipes__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.item-recipes__number {
  min-height: 30px;
  padding: 0 0 0 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  background: url("../img/recipes/eye_icon.svg") left no-repeat;
}

.item-recipes__number_icon {
  background: url("../img/recipes/comment__icon.svg") left no-repeat;
}

.card-recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 38, 38, 0.0001)), to(rgba(38, 38, 38, 0.5))), url("../img/recipes/grill.jpg") center/cover no-repeat #252525;
  background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.0001) 0%, rgba(38, 38, 38, 0.5) 100%), url("../img/recipes/grill.jpg") center/cover no-repeat #252525;
  background: -o-linear-gradient(top, rgba(38, 38, 38, 0.0001) 0%, rgba(38, 38, 38, 0.5) 100%), url("../img/recipes/grill.jpg") center/cover no-repeat #252525;
  background: linear-gradient(180deg, rgba(38, 38, 38, 0.0001) 0%, rgba(38, 38, 38, 0.5) 100%), url("../img/recipes/grill.jpg") center/cover no-repeat #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 60px 115px;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

@media (max-width: 1140px) {
  .card-recipes {
    padding: 60px;
  }
}

@media (max-width: 767.98px) {
  .card-recipes {
    padding: 30px;
  }
}

@media (max-width: 449.98px) {
  .card-recipes {
    padding: 20px;
  }
}

.card-recipes:hover * {
  color: #1a1a1a;
}

.card-recipes:hover .card-recipes__link {
  color: #252525;
}

.card-recipes:hover .card-recipes__type {
  color: #fff;
  background-color: #000;
}

.card-recipes:hover .card-recipes__number {
  background: url("../img/recipes/black_eye_icon.svg") left no-repeat;
}

.card-recipes:hover .card-recipes__number_icon {
  background: url("../img/recipes/black_comment_icon.svg") left no-repeat;
}

.card-recipes:hover .card-recipes__background {
  background-color: rgba(52, 199, 89, 0.7);
}

.card-recipes__background {
  background-color: rgba(52, 199, 89, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.card-recipes__body {
  position: relative;
}

.card-recipes__item:not(:last-child) {
  margin-bottom: 65px;
}

@media (max-width: 767.98px) {
  .card-recipes__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (max-width: 449.98px) {
  .card-recipes__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.card-recipes__type {
  display: inline-block;
}

.card-recipes__label {
  font-size: 14px;
  line-height: 217%;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.card-recipes__label:not(:last-child) {
  margin-bottom: 25px;
}

@media (max-width: 449.98px) {
  .card-recipes__label:not(:last-child) {
    margin-bottom: 15px;
  }
}

.card-recipes__text:not(:last-child) {
  margin-bottom: 45px;
}

@media (max-width: 767.98px) {
  .card-recipes__text:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 449.98px) {
  .card-recipes__text:not(:last-child) {
    margin-bottom: 10px;
  }
}

.card-recipes__link {
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  font-size: 24px;
  line-height: 167%;
}

@media (max-width: 449.98px) {
  .card-recipes__link {
    font-size: 22px;
  }
}

.card-recipes__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 27px;
          column-gap: 27px;
}

.card-recipes__block:not(:first-child) {
  margin-top: 60px;
}

@media (max-width: 767.98px) {
  .card-recipes__block:not(:first-child) {
    margin-top: 40px;
  }
}

@media (max-width: 449.98px) {
  .card-recipes__block:not(:first-child) {
    margin-top: 20px;
  }
}

.card-recipes__number {
  font-weight: 700;
  font-size: 12px;
  line-height: 250%;
  min-height: 20px;
  padding: 0 0 0 35px;
  background: url("../img/recipes/eye_icon.svg") left no-repeat;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.card-recipes__number_icon {
  background: url("../img/recipes/comment__icon.svg") left no-repeat;
}

.card-recipes__button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 50%;
  background: url("../img/recipes/arrow_icon.svg") center no-repeat rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

.card-recipes__button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 449.98px) {
  .card-recipes__button {
    top: 20px;
    right: 20px;
  }
}

/* ------------FOOTER------------- */
.footer {
  padding: 30px;
  border: 5px solid #34c759;
  text-align: center;
  animation: color-change 2s ease 0s infinite reverse;
}

.footer__text {
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.footer__text :nth-child(odd) {
  color: #34c759;
  animation: color-change 2s ease 0s infinite reverse;
}

.footer__text :nth-child(even) {
  color: #34c759;
  animation: color-change 2s ease 0s infinite reverse;
}

@-webkit-keyframes color-change {
  0% {
    color: #34c759;
    border-color: #34c759;
  }
  50% {
    color: #fff;
    border-color: #fff;
  }
  100% {
    color: #34c759;
    border-color: #34c759;
  }
}

@keyframes color-change {
  0% {
    color: #34c759;
    border-color: #34c759;
  }
  50% {
    color: #fff;
    border-color: #fff;
  }
  100% {
    color: #34c759;
    border-color: #34c759;
  }
}
